@model DataAccess.Gift

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Create", "Gift", new { @method = "Nombre" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="container">
        <div class="row personalForm row justify-content-center">
            <div class="col-6">
                <div class="form-group">
                    @Html.Label("Nombre regalo*", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", title = "Nombre del regalo", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Imagen", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.PresentIMG, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input type="file" name="ImageLoad" title="Sube la imagen del regalo" />
                        @Html.ValidationMessageFor(model => model.PresentIMG, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Email quien recibe regalo*", htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GiftedPersonEmail, new { htmlAttributes = new { @class = "form-control", title = "Email de la persona que recibe el regalo", @required = "required", type = "email" } })
                        @Html.ValidationMessageFor(model => model.GiftedPersonEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Mensaje", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = "4", title = "Escribe un mensaje para la persona que recibiá el regalo" })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    @Html.Label("Fecha de llegada*", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DateDelivery, new { htmlAttributes = new { @class = "form-control", title = "Fecha en la que se verá el regalo", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.DateDelivery, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Link Regalo", htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.PresentLink, new { htmlAttributes = new { @class = "form-control", title = "Link donde podrá ver el regalo", type = "url" } })
                        @Html.ValidationMessageFor(model => model.PresentLink, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Nombre*", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-lg-8">
                        @Html.Editor("Nombre", new { htmlAttributes = new { @class = "form-control", title = "Nombre de la persona que recibirá el regalo", @required = "required" } })
                    </div>
                </div>
                <div class="form-group mx-sm-4 mt-5 ">
                    <input type="submit" class="btn btn-warning btn-lg btn-block" style="background-color: #E59C4C;color:white; height: 75px; width: 260px" value="Enviar">
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript">
        jQuery('#DateDelivery').datetimepicker({
            step: 30,
            theme: 'dark'
        });
    </script>
}