<!DOCTYPE html>
<html>
<head>
    <style>
        #toast-container > .customer-create {
            background-color: #6BB323;
        }

        #toast-container > .customer-warning {
            background-color: #F2E899;
        }
    </style>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title  GiveMePresent</title>

    <!-- Toast -->
    <link href="~/Content/Toastr/toastr.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Fontawesome -->
    <link href="~/Content/Fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--Css Personales-->
    <link href="~/Content/MyCssFiles/MyCssFile_1.css" rel="stylesheet" />
    <!--Css datetimepicker-->
    <link href="~/Content/datetimepicker-master/jquery.datetimepicker.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row justify-content-start mx-3">

        <h3 style="color: #FEE8C5">Bienvenido @User.Identity.Name</h3>
        <a href="@Url.Action("LogOut", "Account")" title="Log-out"><i class="fa fa-power-off fa-1x" style="color:grey; background-color:darkred; border-radius: 20px; "></i></a>

    </div>
    <div class="right_col" role="main">
        @RenderBody()
    </div>
    @*<footer>
            <p>&copy; Giveme a present</p>
            <div class="clearfix"></div>
        </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <!--datetimepicker-->
    <script src="~/Content/datetimepicker-master/jquery.js"></script>
    <script src="~/Content/datetimepicker-master/build/jquery.datetimepicker.full.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
