<!DOCTYPE html>
<html>
<head>
   
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    @*Css Personales*@
    <link href="~/Content/MyCssFiles/MyCssFile_1.css" rel="stylesheet" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title  GiveMePresent</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="right_col" role="main">
        @RenderBody()
    </div>
    @*<footer>
            <p>&copy; Giveme a present</p>
            <div class="clearfix"></div>
        </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.slim.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
